<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="py.com.opentech.drawerwithbottomnavigation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".PdfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.pdf.PdfViewerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="*" android:pathPattern=".*\\.pdf" />
                <data android:scheme="https" android:host="*" android:pathPattern=".*\\.pdf" />
            </intent-filter>
<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="content" />-->
<!--                <data android:mimeType="application/pdf" /> &lt;!&ndash; .pdf &ndash;&gt;-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\..*\\.pdf" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="file" />-->
<!--                <data android:mimeType="application/pdf" /> &lt;!&ndash; .pdf &ndash;&gt;-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\..*\\.pdf" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="http" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--            </intent-filter>-->

<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="http" />-->
<!--                <data android:host="*" />-->
<!--                <data android:mimeType="application/pdf" />-->
<!--            </intent-filter>-->
<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="file" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--            </intent-filter>-->
<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="file" />-->
<!--                <data android:scheme="content" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.sfx" />-->
<!--                <data android:pathPattern=".*\\..*\\.sfx" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\.sfx" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\..*\\.sfx" />-->
<!--                &lt;!&ndash; keep going if you need more &ndash;&gt;-->

<!--            </intent-filter>-->
<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="file" />-->
<!--                <data android:host="*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\.pdf" />-->
<!--            </intent-filter>-->
<!--            <intent-filter android:label="@string/app_name">-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <data android:scheme="file"/>-->
<!--                <data android:host="*" />-->
<!--                <data android:scheme="content" />-->
<!--                <data android:mimeType="*/*" />-->
<!--                <data android:pathPattern=".*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\.pdf" />-->
<!--                <data android:pathPattern=".*\\..*\\..*\\.pdf" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.scan.ScanPdfActivity" />
        <activity android:name=".ui.merge.MergePdfActivity" />
        <activity android:name=".ui.merge.MultiFileSelectActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".utils.ImagePickerActivity" />

        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity android:name=".ui.fileexplorer.FileExplorerActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>